.text-color {
  color: rgb(46, 44, 44);
}
.cart-img {
  height: 20px;
  width: 20px;
}
.search-field,
.btn {
  border: none;
}
.btn {
  border-radius: 5px;
}
.search-icon {
  padding: 1px 2px;
}
.search-field,
.search-field-form {
  background-color: rgb(245, 245, 246);
}
.search-field:focus {
  background-color: white;
  border: solid 1px gainsboro;
}

.search-icon-img {
  height: 20px;
  width: 20px;
}
.btn:hover {
  cursor: pointer;
}
.cart-count {
  position: relative;
  right: 50px;
  top: -15px;
}
.cart-btn {
  padding: 6px;
}
.categories {
  box-shadow: 0px 5px 5px 1px rgb(179, 176, 176, 0.7);
}
.category:hover,
.login-details {
  border-bottom: solid 3px #5e2ca5;
}
.search-bar {
  border-top: solid 2px #5e2ca5;
  width: 47%;
}
.category:hover {
  color: #5e2ca5;
}
.category {
  position: relative;
}
.nav-list {
  position: absolute;
  top: 4rem;
  left: 0;
}
.profile {
  position: absolute;
  top: 3rem;
  left: -3rem;
  width: 150px;
}
.buy-btn:hover {
  opacity: 0.8;
}
.slide,
.carousel {
  width: 95%;
}
.thumbnail {
  width: 12px;
  height: 12px;
  border: none;
  background-color: gainsboro;
}
.close-btn {
  height: 30px;
  width: 30px;
}
.thumbnail:hover,
.close-btn:hover {
  cursor: pointer;
}
.active {
  background-color: #5e2ca5;
}
.login-details:focus {
  outline: none;
}

#modal:empty {
  display: none;
}
.login-btn {
  width: 150px;
  height: 40px;
}
.price-color {
  color: green;
}
a {
  text-decoration: none;
  color: rgb(46, 44, 44);
}
a:active,
a:visited {
  color: rgb(46, 44, 44);
}
.cat-link {
  width: 100%;
  height: 100%;
  color: rgb(46, 44, 44);
}
.search-field:focus {
  outline: none;
}
.show-product-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.item-icons {
  width: 120px;
  height: 120px;
}
.border-bottom {
  border-color: gainsboro;
}
.menu {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}
.categories-mobile {
  background-color: rgba(94, 44, 165, 0.7);
}
.cart-checkout-btn {
  left: 50%;
}
.filter-pos {
  left: 80%;
}
.close-pos {
  left: 85%;
  top: 25px;
}
.items-size {
  width: 47%;
}
