.search-field,
.btn {
  border: none;
}
.search-icon {
  padding: 1px 2px;
}
.btn:hover {
  cursor: pointer;
}
.cart-count {
  position: relative;
  right: 50px;
  top: -15px;
}
.categories {
  box-shadow: 0px 5px 5px 1px rgb(179, 176, 176, 0.7);
}
.category:hover {
  border-bottom: solid 3px #5e2ca5;
  color: #5e2ca5;
}
.category {
  position: relative;
}
.nav-list {
  position: absolute;
  top: 4rem;
}
.buy-btn:hover {
  opacity: 0.8;
}
.slide,
.carousel {
  width: 95%;
}
.thumbnail {
  width: 20px;
  height: 20px;
  border: none;
  background-color: gainsboro;
}
.thumbnail:hover {
  cursor: pointer;
}
.active {
  background-color: #5e2ca5;
}
